@font-face {
  font-family: "kanji";
  src: url("./fonts/kanji.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sauce Code Pro Nerd Font Complete Mono", monospace;
  src: url("./fonts/SauCodeProNerfont.ttf");
}

:root {
  --dark-bg: #111217;
  --white-bg: #eeeeee;
  --white-alt: #c4c4c4;
}

::selection {
  background: #1c1e25;
}

body {
  background-color: var(--dark-bg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease-out;
  overflow: hidden;
  justify-content: center;
}

body.light {
  background-color: var(--white-bg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#greetings {
  font-family: "kanji", monospace;
}

.input_box {
  border: none;
  outline: none;
  background: transparent;
  padding: 13px;
  color: var(--white-bg);
  font-size: 17px;
  transition: 0.4px all;
  border-radius: 5px 5px 5px 5px;
  width: 350px;
  margin-bottom: 10px;
  transition: 0.17s ease-in-out;
}

.input_box:hover,
.input_box:focus,
.input_box:active {
  background: #2f313b;
}

.left {
  overflow: hidden;
  margin-right: 50px;
  border: 0px solid;
  position: relative;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}

.left img {
  position: absolute;
  transform: translateY(-0.5px);
}

.column-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 15px 30px 15px 15px;
  font-size: 18px;
}

.column:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.column:nth-child(4) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.column p {
  color: var(--white-bg);
  padding-bottom: 10px;
  transition: 0.4s;
}

.column a {
  text-decoration: none;
  color: #44475a;
  transition: 0.3s;
  letter-spacing: 0.6px;
  padding: 5px;
  border-radius: 5px;
}

.column a.hover:hover {
  color: #919191;
  background: #2f313b;
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 17px;
  transform: translateY(2px);
  transition: 0.4s ease-out;
  margin-right: 4px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
}

@media screen and (max-width: 637px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 439px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* DARK MODE */

#toggle {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#toggle span:nth-child(1) {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  background: transparent;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid var(--white-bg);
  border-radius: 50%;
  transform: rotate(45deg);
  filter: blur(0.5px);
  transition: 0.4s ease-out;
}

#toggle span:nth-child(2) {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  background: transparent;
  width: 30px;
  height: 30px;
  border-top: 3px solid var(--white-bg);
  border-radius: 50%;
  transform: rotate(45deg) translateX(-5px) translateY(10px);
  filter: blur(0.5px);
  transition: 0.4s ease-out;
}

body.light #toggle span:nth-child(1) {
  border-bottom: 3px solid var(--dark-bg);
}

body.light #toggle span:nth-child(2) {
  border-top: 3px solid transparent;
  transform: rotate(0deg) translateX(-5px) translateY(10px);
}

body.light .input_box {
  color: var(--dark-bg);
}

body.light .input_box:hover,
body.light .input_box:focus,
body.light .input_box:active {
  background: var(--white-alt);
}

body.light .column p {
  color: var(--dark-bg);
}

body.light .column a.hover:hover {
  color: #44475a;
  background: var(--white-alt);
}

body.light img {
  -webkit-filter: grayscale(60%) brightness(1.3); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%) brightness(1.3); */
}

body.light ::selection {
  background: var(--white-alt);
}

#date {
  position: absolute;
  top: 30px;
  left: 30px;
  transition: 0.4s ease-out;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
}
