$border: rgba(84, 82, 155, 0.9);
$border_selected: rgba(177, 143, 169, 0.9);
$text: rgba(186, 194, 222, 1);
$text_selected: rgba(186, 194, 222, 1);
$bg: rgba(25, 23, 37, 1);

window {
  margin: 5px;
  border: 0px solid $border;
  animation: slideIn 0.3s ease-in-out both;
}

#input {
  margin: 0;
  border: 2px solid $border;
  border-radius: 0px;
  border-radius: 0px;
  background-color: $bg;
  margin-bottom: -2px;
  font-size: 20px;
  animation: fadeIn 0.5s ease-in-out both;
}

#inner-box {
  margin: 5px;
  border: 0px solid $border;
  /* animation: fadeIn 0.5s ease-in-out both; */
}

#outer-box {
  margin: 3px;
}

#scroll {
  margin: 0px;
  border: 2px solid $border;
  background-color: $bg;
  border-top: 0px;
  border-radius: 0 0 5px 5px;
}

#text {
  margin: 5px;
  /* background-color: cyan; */
  color: $text;
  background-color: rgba(0, 0, 0, 0);
  /* animation: fadeIn 0.5s ease-in-out both; */
}

#entry {
  font-size: 11.4pt;
  border-radius: 0px;
}

#img {
  width: 2px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0);
}

#entry:selected {
  background-color: $border;
  font-size: 12pt;
}

#text:selected {
  color: $text_selected;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0.25;
  }

  100% {
     opacity: 1;
  }
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0.25;
  }

  100% {
     opacity: 1;
  }
}
