@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    IosevkaLyteTerm,
    IosevkaLyteTerm Nerd Font,
    FiraCode Nerd Font,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 10pt;
  min-height: 0;
}

window#waybar {
  /* background-color: rgba(43, 48, 59, 0.5); */
  background-color: rgba(43, 48, 59, 0.2);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#tags button {
  background-color: transparent;
  /* box-shadow: inset 0 -3px #bac2de; */
  color: #ffffff;
  border-radius: 15px;
  /* background: rgba(0, 0, 0, 0.8); */
  background: transparent;
  /* margin: 5px 0px 5px 0; */
  /* padding: 0 0 0 0px; */
  margin: 5px 0px;
  padding: 0 0px 0 0px;
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button:hover {
  background: rgba(0, 0, 0, 0.2);
  /* box-shadow: inset 0 -3px #bac2de; */
}

#tags button.urgent {
  background-color: #eb4d4b;
}

#tags button.occupied {
  background-color: rgba(116, 199, 236, 0.3);
  /* box-shadow: inset 0 -3px #74c7ec; */
}

#tags button.focused {
  /* background-color: transparent; */
  /* background-color: rgba(116, 199, 236, 0.7); */
  background-color: rgba(92, 186, 228, 0.7);
  /* color: black; */
  /* border: 2px solid rgba(228, 228, 247, .8); */
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  background-color: transparent;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#layout {
  color: #000000;
  background-color: rgba(186, 194, 222, 0.7);
  padding: 0 5px;
  margin: 5px 5px ;
}

#custom-dwl_layout {
  color: @foreground;
}

#custom-dwl_title {
  color: @foreground;
}

#custom-dwl_tag {
  /* color: #ddd9d1 */
  color: @foreground;
}

#custom-dwl_tag.selected {
  /* color: #5F7A85 */
  background: @color4;
}

#custom-dwl_tag.urgent {
  background-color: #ff0000;
}

#custom-dwl_tag.active {
  /* border-top: 1px solid #95857B; */
  border-top: 2px solid @color5;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-torrents,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 0 3.5px 0 3.5px;
  /* margin: 0 4px; */
  color: #ffffff;
}
#mpd {
    padding: 0 4px 0 6px;
}
#tray {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: rgba(43, 48, 59, 0.6);
    /* border-bottom: 0px; */
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: #ffffff;
  background-color: rgba(100, 114, 125, 0.92);
}

#custom-torrents {
  background-color: #64727d;
}

#battery {
  background-color: #e7e8eb;
  color: #000000;
}

#battery.charging,
#battery.plugged {
  color: #000000;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  /*animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964b00;
}

#backlight {
  color: #4c4f69;
  background-color: #eff1f5;
}

#network {
  /* color: #000000; */
  color: #ffffff;
  /* background-color: #b2ffff; */
  /* background-color: #00bfff; */
  /* background-color: #aaf0d1; */
  /* background-color: #74c7ec; */
  background-color: #0d98ba;
  /* background-color: #2980b9; */
  /* background-color: #c32f2f; */
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #000000;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}
#mpd.disconnected {
  background-color: #f53c3c;
}
#mpd.stopped {
  background-color: #90b1b1;
}
#mpd.paused {
  background-color: #51a37a;
}

#bluetooth {
  background-color: #226699;
  color: #ffffff;
  padding: 0 10px;
  margin: 0 5px;
}

#language {
  /* background: #00b093; */
  background: #e7d29d;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#idle_inhibitor {
  margin: 0 5px;
  padding: 0 10px 0 6px;
}

/* box props */
#mpd,
#network,
#bluetooth,
#backlight,
#battery,
#pulseaudio,
#tray,
#layout,
#idle_inhibitor,
#clock {
  border-radius: 10px;
}

#clock {
    border-radius: 10px 0 0 10px;
    padding: 0 2px 0 10px;
    margin-right: 0px;
}
